body{	
	background-image: url('../images/index.jpg');	
}

.Upper-slide {


	
}
.Nav ul{
		display:grid;
		grid-gap: 5px;
		grid-template-columns:repeat(5,1fr);
		list-style:none;
		margin-right:25px;
	}
.Nav a {
 text-decoration:none;
 text-align:center;
 display:block;
 padding: 10px;
 background: #ddd;
 text-transform:uppercase;
 color: #333;  
}
.Nav a:hover{
  background: #333;	
  color:#fff;
}	
/*======================IMAGE SECTION START=========================*/
.pic h2{
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}
.pic img{	
        
}

.pic {
    display:grid;
    grid-auto-rows:minmax(100px,auto);
    grid-row-gap: 3em;
    color:#fff;
	text-transform:uppercase;
	text-align:center;
    /*border: solid white 2px;*/
}
.pic img{
		border-radius:8em;
}


/*================= BOX SECTION START================================*/
.boxes{
	 margin-top:5px;
	 display:grid;
	 grid-template-columns:repeat(2,1fr);
	 grid-auto-rows:minmax(150px,auto);
	 grid-gap:5px;
	 padding:1em;
	 background-image:url('../images/lilb.jpg')
	/* background: #ddd;*/
	  
}
.btn{
  background: #333;	
  color:#fff;
  padding: 0.6em 1.3em;
  text-decoration:none;	
}
.boxes a:hover{
  background:#ddd; 	
  color:#333;	
	
}
.Bx{
	padding:1em;
	border: solid green 2px;
	font-family:Franklin Gothic Book;
}
.Bx h2{
	text-align:center;    
}


/*================= BOX SECTION END================================*/	
/*==================FOOTER========================================*/
footer{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	background-image:url('../images/2.jpg');
	color:#fff;
	margin-top:4em;
	padding:0.2em;
}
footer .footer-text{
   padding-top:12px;
   text-align:right;
    
}
.btn2 i{
	margin: 2px;
	width:40px;
	height:40px;
	text-align:center;
	background:#eee;
	line-height:40px;
	border-radius:50%;
	color:#55acee;
}
.btn2 i:hover{
    color:#eee;
	background:#55acee;
}

/*.social-media a:hover{
	background:blue;
	
}*/
footer img{
	height:35px; width:35px;
}

footer .social-media ul li{
	display:inline;
}	

/* ===============================MEDIA RESPONSIVENESS========*/

@media screen and (max-width: 700px)
{

 .Nav ul{	
  grid-template-columns:1fr;
  text-align:center;
  margin:auto;
}
footer {
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows:repeat(2,1fr);
}footer .social-media{
	text-align:center;
}
footer .footer-text{
	text-align:center;
}


}
@media screen and (max-width: 500px)
{
  .Nav ul{	
  grid-template-columns:1fr;
  text-align:center;
  margin:auto;	
}	
